/* Common Styling */

body {
  text-align: left;
}

button,
input,
select {
  text-align: left;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Home Page Styling */

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 33.33vh;
  background-color: transparent;
}

.home-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 80px;
  margin-bottom: 20px;
  background-color: transparent;
  background-image: url(https://lakelandmom.com/wp-content/uploads/2019/05/Family-Board-Games.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  border-radius: 10px;
}

.home-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.button-text {
  position: relative;
  z-index: 1;
  font-size: 53px;
}

.slideshow-container {
  width: 100%;
  max-width: 800px;
  margin-top: 10rem;
}

.new-arrivals-heading {
  text-align: center;
}

.search-form {
  text-align: center;
  margin-top: 20px;
}

.search-form form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form input {
  width: 300px;
  height: 40px;
  padding: 5px;
  font-size: 16px;
}

.search-form button {
  height: 40px;
  margin-left: 10px;
  font-size: 16px;
}


/* Login Page Styling */

.login-container {
  max-width: 400px;
  margin: 60px auto;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

input {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

p {
  margin-top: 16px;
  text-align: left;
}

p a {
  color: #007bff;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}

/* Register Page Styling */

.register-container {
  max-width: 400px;
  margin: 60px auto;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

input {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

select {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

p {
  margin-top: 16px;
  text-align: center;
}

p a {
  color: #007bff;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}

input::placeholder {
  color: lightgray;
}

/* Profile Page Styling */

.profile-container {
  max-width: 400px;
  margin: 60px auto;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
}

p {
  text-align: center;
}

.profile-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.profile-details p {
  text-align: left;
}

.profile-details button {
  margin-top: 16px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.profile-details button:hover {
  background-color: #0056b3;
}

.button-container {
  display: flex;
  justify-content: flex-start;
}

.action-button {
  margin-bottom: 10px;
  flex-direction: row;
}

/* Games Form Styling */

.games-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}

.games-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.games-form form {
  display: flex;
  flex-direction: column;
}

.games-form label {
  font-weight: bold;
  margin-bottom: 5px;
}

.games-form-input,
.games-form-select {
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.games-form-button {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.games-form-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Games Page Styling */

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game img {
  width: 100px;
}

.game-details {
  flex-grow: 1; 
}

/* Store Form Styling */

.store-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}

.store-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.store-form form {
  display: flex;
  flex-direction: column;
}

.store-form label {
  font-weight: bold;
  margin-bottom: 5px;
}

.store-form-input,
.store-form-select {
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.store-form-button {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.store-form-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Stores Page Styling */

.store {
  display: flex;
  flex-direction: column;
  align-items:center;
}

.store img {
  width: 100px;
}

.store-details {
  flex-grow: 1; 
}

/* Customers Page Styling */

.customers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customer-details {
  flex-grow: 1; 
}

/* Employees Page Styling */

.employees {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.employee-details {
  flex-grow: 1; 
}